{% extends 'all-photos/base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    {% if images %}
      <h2>Found {{ images |length }} of searched term '{{message}}'</h2>
    {% else %}
      <h2> Found 0 images for the search term '{{message}}</h2>
    {% endif %}
  </div>
  <div class="row">
  {% if images %}
    {% for image in images %}
      <div class="col-sm-6">
          <img height="300" width="400" src = '{{image.image.url}}'>
      </div>
      <div class="col-sm-6">
          <h2>{{image.name}}</h2>
          <p>{{image.description}}</p>
      </div>

      <div class="text-center">
        <a class="d-block mx-auto" href="/">
            <button class="btn btn-md success ">Back Home</button>
        </a>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}

